<h2><%= @chirp.content %></h2>
<h2><%= @chirp.formatted_time %></h2>
<%= link_to("Edit Chirp", "/chirps/#{@chirp.id}/edit") %>
<%= link_to("Delete Chirps", "/chirps/#{@chirp.id}", method: :delete) %>
